.edit-profile-page {
    padding-top: 80px;
    background-color: #f8f9fa;
    min-height: 100vh;
  }
  
  .navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
  
  .edit-profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: fit-content;
  }
  
  .edit-profile-card { 
    width: 100%; 
    padding: 20px; 
    border: none; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    border-radius: 8px;
  }
  
  .card-title {
    margin-bottom: 20px;
    font-weight: 700;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    border-radius: 20px;
    padding: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 20px;
    padding: 10px 20px;
  }
  